
<head>
    <link rel="stylesheet" href="/css/add.css">
</head>
<main>

    <% if(message) { %>
          <p style="color:red;"><%=message %>message</p>
     <% } %>


<body>
    <h1>Add your next mealKit</h1>
    <div class="container">
      <div class="cta-form">
        <h2>Fill out the form!</h2> 
      <p>Check out the comments for input proper type of information.</p>
      </div>
      <form method="post" action="/mealKits/add" enctype="multipart/form-data" class="form"></form>
      
      <input type="text" name="title" id="title" value="<%= values.title%>" placeholder="Title" class="form__input" required/>
      <label for="title" class="form__label">Title:</label>
      
    <input type="text" name="includes" id="includes" value="<%= values.includes%>" placeholder="Includes" class="form__input" required/>
    <label for="includes"  class="form__label">Includes:</label>

    <textarea name="description" id="description" class="form__input"></textarea>
    <label for="description" class="form__label">Description:</label>
  
    <input type="text" name="category" id="category"  value="<%= values.category%>" placeholder="Category" class="form__input" required/>
    <label for="category" class="form__label">Category:</label>
   
    <input type="number" min="0.0" step="0.01" name="price" id="price" value="<%= values.price%>" placeholder="Price" class="form__input"  required/>
    <label for="price" class="form__label">Price:</label>
    
    <input type="number" min="0" name="cookingTime" id="cookingTime" value="<%= values.cookingTime%>" placeholder="cookingTime" class="form__input"  required />
    <label for="cookingTime" class="form__label">Cooking Time:</label>
   
    <input type="number" min="0" name="servings" id="servings" value="<%= values.servings%>" placeholder="Servings" class="form__input"  required />
    <label for="servings" class="form__label">Servings:</label>
    
   
    <input type="file" name="imageUrl" id="imageUrl" value="<%= values.imageUrl%>"  requied/>
    <label for="imageUrl" style="color: orange;" class="form__label">Image:</label>
    
    <label for="featuredMealKit">Featured MealKit:</label>
    <div class="checkbox-container">
        <input type="checkbox" name="featuredMealKit" id="featuredMealKit" value="true" />
        <span class="checkbox-custom"></span>
    </div>

    <button class="button-8" role="button" value="addMealKit">Add</button>
        
      </form>
    </div>
  </body>
</main>